<html>
<head>
    <meta charset="utf-8" />
    <title>Amsterdam</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <div class="nav-wrapper">
            <div class="left-side">
                <div class="nav-link-wrapper">
                    <a href="/">Etusivu</a>
                </div>
            </div>

            <div class="right-side">
                <div class="nav-link-wrapper">
                    <a href="Lontoo">Lontoo</a>
                </div>
                
                <div class="nav-link-wrapper">
                    <a href="Pariisi">Pariisi</a>
                </div>
                
                <div class="nav-link-wrapper">
                    <a href="Berliini">Berliini</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Rooma">Rooma</a>
                </div> 

                <div class="nav-link-wrapper active-nav-link">
                    <a href="Amsterdam">Amsterdam</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Madrid">Madrid</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Vienna">Vienna</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Ateena">Ateena</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Praha">Praha</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Varsova">Varsova</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Budapest">Budapest</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Kiova">Kiova</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Tukholma">Tukholma</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Helsinki">Helsinki</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Oslo">Oslo</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Dublin">Dublin</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Barcelona">Barcelona</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Lissabon">Lissabon</a>
                </div> 
            </div>
        </div>

        <div class="content-wrapper">
            <div class="two-column-wrapper">
                <div class="profile-image-wrapper">
                    <img src="/images/Amsterdam.avif">
                </div>

                <div class="profile-content-wrapper">
                    <h1>Amsterdam</h1>
                    <p>
                        Hollannin pääkaupunki Amsterdam on yksi tunnetuimpia kaupunkeja Euroopassa, jonka tekee ainutlaatuiseksi tiheät kanaalit keskustan alueella. Amsterdamin väkilukuun kuuluu noin 900 000 ihmistä ja Amsterdamin metropolialueeseen kuuluu noin 2 500 000 ihmistä. Kaupunki on rakennettu 1600- luvulla tasaiselle suo alueelle, jolloin syvällä olevaan kovaan maaperään on pystytetty 13 metriä pitkiä puupuomeja kaupungin perustukseksi. Puupuomit ovat ajan mittaan mädäntynyt, jonka näkee siitä että useat talot ovat hieman kaltevia.
                        <br>
                        <br>
                        Amsterdam antaa lomailijoille ikimuistoisen elämyksen kahviloillaan, ravintoloillaan, museoillaan ja värikkäillä kaduillaan. Suomea lähellä sijaitseva Amsterdam tarjoaa lukuisia nähtävyyksiä turisteilleen. Amsterdamissa on lauhkea meri-ilmasto, jolloin isot lämpötilanvaihdokset ovat pieniä. Kaupungissa on ainutlaatuinen liikennesysteemi, koostuen kanaalissa kulkevista veneistä, pyöristä ratikoista ja autoista. Amsterdam on täynnä pyörävuokraamoja ja kadut ovat suunniteltu niin, että pyöräilijöillä on aina omat kaistat. Autoliikenne on vähäisempää muihin kaupunkeihin verrattuna, sillä lukuisat kanaalit tarjoavat hyvän vesitieverkoston.
                </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>