<html>
<head>
    <meta charset="utf-8" />
    <title>Dublin</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <div class="nav-wrapper">
            <div class="left-side">
                <div class="nav-link-wrapper">
                    <a href="/">Etusivu</a>
                </div>
            </div>

            <div class="right-side">
                <div class="nav-link-wrapper">
                    <a href="Lontoo">Lontoo</a>
                </div>
                
                <div class="nav-link-wrapper">
                    <a href="Pariisi">Pariisi</a>
                </div>
                
                <div class="nav-link-wrapper">
                    <a href="Berliini">Berliini</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Rooma">Rooma</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Amsterdam">Amsterdam</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Madrid">Madrid</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Vienna">Vienna</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Ateena">Ateena</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Praha">Praha</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Varsova">Varsova</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Budapest">Budapest</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Kiova">Kiova</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Tukholma">Tukholma</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Helsinki">Helsinki</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Oslo">Oslo</a>
                </div> 

                <div class="nav-link-wrapper active-nav-link">
                    <a href="Dublin">Dublin</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Barcelona">Barcelona</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Lissabon">Lissabon</a>
                </div> 
            </div>
        </div>

        <div class="content-wrapper">
            <div class="two-column-wrapper">
                <div class="profile-image-wrapper">
                    <img src="/images/Dublin.avif">
                </div>

                <div class="profile-content-wrapper">
                    <h1>Dublin</h1>
                    <p>
                        Dublin Irlannin pääkaupunki, joka koostuu noin 550 000 ihmisestä (1 100 000 metropolialueella). Dublin on virallisesti perustettu vuonna 988, vaikka Keltit asuivatkin Dublinin alueella jo luultavasti 500 eaa. Viikingit valtasivat Dublinin 800 luvulla ja irlantilaiset taistelivat kaupungin hallinnasta useita vuosisatoja. Dublin on tunnettu lukuisista kapakoista, joiden parissa pääsee nopeasti pois arjesta ystävällisen ilmapiirin parissa. Dublinissa on niin pieni keskusta, että siellä on mukava kävellä paikasta toiseen, eikä julkista liikennettä välttämättä tarvitse. Docklands -satamat ovat myös suosittuja paikkoja nauttia kaupungista. Dublinissa on merellinen ilmasto, joten ympärivuotuiset lämpötilat vaihtelevat vain vähän. Sadetta on runsaasti ympäri vuoden.
                </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>