<html>
<head>
    <meta charset="utf-8" />
    <title>Pariisi</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <div class="nav-wrapper">
            <div class="left-side">
                <div class="nav-link-wrapper">
                    <a href="/">Etusivu</a>
                </div>
            </div>

            <div class="right-side">
                <div class="nav-link-wrapper">
                    <a href="Lontoo">Lontoo</a>
                </div>
                
                <div class="nav-link-wrapper active-nav-link">
                    <a href="Pariisi">Pariisi</a>
                </div>
                
                <div class="nav-link-wrapper">
                    <a href="Berliini">Berliini</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Rooma">Rooma</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Amsterdam">Amsterdam</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Madrid">Madrid</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Vienna">Vienna</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Ateena">Ateena</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Praha">Praha</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Varsova">Varsova</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Budapest">Budapest</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Kiova">Kiova</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Tukholma">Tukholma</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Helsinki">Helsinki</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Oslo">Oslo</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Dublin">Dublin</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Barcelona">Barcelona</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Lissabon">Lissabon</a>
                </div> 
            </div>
        </div>

        <div class="content-wrapper">
            <div class="two-column-wrapper">
                <div class="profile-image-wrapper">
                    <img src="/images/Paris.avif">
                </div>

                <div class="profile-content-wrapper">
                    <h1>Pariisi</h1>
                    <p>
                        Pariisi on monille unelmien matkakohde. Se on tunnettu näyttävästä arkkitehtuurista ja ainutlaatuisesta tunnelmastaan. Pariisin väkiluku on noin 2 300 000 ihmistä, vaikkakin metropolialueella on melkein 12 miljoonaa ihmistä. Pariisissa on lukuisia maailmankuuluja nähtävyyksiä kuten Louvre, Notre Damen kirkko ja Eiffel torni. Pariisin historia yltää 200-luvulle kun se perustettiin. Alueella oli jo pitkään sitä ennen elänyt kelttiläistä kansaa. Keskiajalla Pariisi kukoisti kauppakaupunkina ja sivistyskeskuksena. Pariisissa on kuumat kesäkuukaudet ja viileät talvet.
                </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>