<html>
<head>
    <meta charset="utf-8" />
    <title>Vienna</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <div class="nav-wrapper">
            <div class="left-side">
                <div class="nav-link-wrapper">
                    <a href="/">Etusivu</a>
                </div>
            </div>

            <div class="right-side">
                <div class="nav-link-wrapper">
                    <a href="Lontoo">Lontoo</a>
                </div>
                
                <div class="nav-link-wrapper">
                    <a href="Pariisi">Pariisi</a>
                </div>
                
                <div class="nav-link-wrapper">
                    <a href="Berliini">Berliini</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Rooma">Rooma</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Amsterdam">Amsterdam</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Madrid">Madrid</a>
                </div> 

                <div class="nav-link-wrapper active-nav-link">
                    <a href="Vienna">Vienna</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Ateena">Ateena</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Praha">Praha</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Varsova">Varsova</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Budapest">Budapest</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Kiova">Kiova</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Tukholma">Tukholma</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Helsinki">Helsinki</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Oslo">Oslo</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Dublin">Dublin</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Barcelona">Barcelona</a>
                </div> 

                <div class="nav-link-wrapper">
                    <a href="Lissabon">Lissabon</a>
                </div> 
            </div>
        </div>

        <div class="content-wrapper">
            <div class="two-column-wrapper">
                <div class="profile-image-wrapper">
                    <img src="/images/Wien.avif">
                </div>

                <div class="profile-content-wrapper">
                    <h1>Vienna</h1>
                    <p>
                        Itävallan pääkaupunki Vienna kuuluu Euroopan näyttävimpiin ja tärkeimpiin kaupunkeihin noin 1 700 000 ihmisen väkiluvullaan Vienna on Itävallan suurin kaupunki ja kattaa yhdessä metropolialueillaan noin 2 500 000 ihmistä. Vienna perustettiin noin vuonna 50 eaa. Roomalaisten sotilasleirinä, joka toimi monien muiden leirien tavoin puolustusakselina Germaanisia heimoja vastaan. Viennassa on näyttävä vanhakaupunki, jota monet turistit tulevat ihastelemaan ympäri vuoden. Viennassa vallitsee lämmin ilmasto vaikka se onkin lähellä alppeja, sillä niiden välissä sijaitsevat Wienerwaldin kukkulat. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>